<% @tasks.each do |task| %>
  <div class="d-flex rounded p-3 mb-2 border">
    <div class="flex-grow-1"><%= render "checkbox", task: task %> <%= link_to task.title, task_path(task), class: "link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %></div>
    <div class=""><%= render "btn-delete", task: task %></div>
  </div>
<% end %>

<%= link_to "New Task", new_task_path, class: "btn btn-sm btn-primary mt-3" %>
